.image-del-btn {
  background: none;
  color: black;
  position: absolute;
  background: bisque;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: xx-small;
  font-weight: bold;
  float: right;
}

.resortzy-img img {
  width: 145px;
  height: 145px;
  border-radius: 20px;
}

.resortzy-img {
  border: 5px #4caf50b0 ridge;
  position: relative;
  width: 155px;
  margin: 5px;
  border-radius: 25px;
}
