.search-form-img {
  position: absolute;
  width: -webkit-fill-available;
}

.search-form {
  border: 5px solid #ff9800;
  background-color: #ff9800;
  position: relative;
  margin: 20% 5% 0px 5%;
  justify-content: space-evenly;
}

.booking-info {
  border: 6px #ff57229c ridge;
  margin-bottom: 10px;
}

.booking-info img {
  border: 6px #ff57229c ridge;
  width: 40%;
  height: 40%;
}
