.checkout-container {
  padding: 50px;
  margin: auto;
  border-radius: 5px;
}

.chkout-tbl {
  width: 90% !important;
  margin-left: 5%;
  justify-content: center;
  border: 5px solid orange;
  text-align: center;
}
