body {
  font-family: "Montserrat", sans-serif;
}
label {
  font-size: larger;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.nav-main {
  background-color: #11b2a9b5;
  height: fit-content;
  padding: 0px;
}
.nav-main img {
  width: 50px;
  height: 50px;
}

#responsive-navbar-nav {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-menuitem {
  margin-right: 5%;
}

input.form-control {
  border: 2px solid #ff9800;
  border-radius: 10px;
}

.main-nav-menu {
  height: auto;
}
#slogan {
  font-family: Brush Script MT, cursive;
  margin-top: -25px;
  padding-left: 5px;
  color: #d88813;
}

#nav-title {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: antiquewhite;
  font-size: xx-large;
  margin-bottom: auto;
}
.mandatory-color {
  color: red;
}

.empty-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-caraousel img {
  height: 500px;
}
